@model SnowOwl.Models.ContactModel
@{
    ViewBag.Title = "Snow Owl Software Company Contact Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="large-header">
    Contact Us
</div>
@using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="contact-form">
        <div>
            <div>
                Name
            </div>
            <div>
                @Html.TextBoxFor(model => model.Name, new { @class = "metro-input" })
                @Html.ValidationMessageFor(model => model.Name, string.Empty, new { style = "color:red;" })
            </div>
            <div>
            </div>
        </div>
        <div>
            <div>
                Email
            </div>
            <div>
                @Html.TextBoxFor(model => model.Email, new { @class = "metro-input" })
                @Html.ValidationMessageFor(model => model.Email, string.Empty, new { style = "color:red;" })
            </div>
        </div>
        <div>
            <div>
                Phone
            </div>
            <div>
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "metro-input" })
            </div>
        </div>
        <div>
            <div>
                Company
            </div>
            <div>
                @Html.TextBoxFor(model => model.CompanyName, new { @class = "metro-input" })
            </div>
        </div>
        <div>
            <div style="vertical-align: middle;">
                Message
            </div>
            <div>
                @Html.TextAreaFor(model => model.Message, new { @class = "metro-input additional-info", rows = "4" })
                @Html.ValidationMessageFor(model => model.Message, string.Empty, new { style = "color:red;" })
            </div>
        </div>
        <div>
            <div>
                Attach file
            </div>
            <div style="vertical-align: middle; padding: 0">
                <table>
                    <tr>
                        <td>
                            <span class="psevdoFile">
                                <input id="psevdoFileValue" class="metro-input" type="text" />
                                <input class="fileInput" type="file" size="1" onchange="javascript:document.getElementById('psevdoFileValue').value = this.value"
                                    name="Attachment" />
                            </span>
                        </td>
                        <td>
                            <div id="browse-button" onclick="javascript:$('.fileInput').click()">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-size: 10px; color: #aaa">
                            The file size should not exceed 5 Mb.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div>
            </div>
            <div style="text-align: right;">
                <button type="submit" class="metro-button" style="margin-right: 22px;">
                    Send a message
                </button>
            </div>
        </div>
    </div>
    <div id="all-contacts-section">
        <div id="social-media" style="border-top-color: #D8C100">
            <h2 style="background: url('../../Content/images/follow-icon.png') no-repeat center left;">
                Follow Us</h2>
            <div>
                <ul>
                    <li><a href="http://facebook.com" target="_blank" class="facebook-link">Join us on Facebook</a></li>
                    <li><a href="http://twitter.com" target="_blank" class="twitter-link">Follow us on twitter</a></li>
                    <li><a href="http://plus.google.com" target="_blank" class="google-plus-link">Join us
                        on Google+</a></li>
                </ul>
            </div>
        </div>
        <div id="call-us" style="border-top-color: #0050EF"> 
            <h2 style="background: url('../../Content/images/call-icon.png') no-repeat center left;">
                Call Us</h2>
            <ul>
                <li><a class="skype-link" href="skype:ask.snowowl?call">ask.snowowl</a> </li>
                <li><a href="#" class="call-link">375 29 2755096</a></li>
            </ul>
        </div>
        <div id="write-us" style="border-top-color: #008A00">
            <h2 style="background: url('../../Content/images/mail-icon.png') no-repeat center left;">
                Write Us</h2>
            <ul>
                <li><a href="mailto:ask@snowowl.com">ask@@snowowl.com</a></li>
            </ul>
        </div>
    </div>
}
