<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<style>
    textarea {
        height: 150px;
        resize: none;
    }

    .inputbox, input[type="text"], input[type="password"], input[type="email"], textarea {
        background: transparent;
        border: 1px solid #DDD;
        color: #DDD;
        margin: 10px;
        padding: 10px;
        display: block;
        min-width: 250px;
        width: 90%;
    }

    input[type="submit"] {
        background: #F99420;
        border: 0 none;
        color: white;
        display: inline-block;
        font-family: 'NovecentowideUltraLightBold';
        margin: 0px 4px 3px 0px;
        padding: 8px 10px;
        cursor: pointer;
        overflow: visible;
        min-width: 100px;
        float: right;
        margin-right: -30px;
    }

    .field-validation-error {
        margin-left: 10px;
        color: red;
    }

    input[type="submit"]:hover { background: #565656; }

    #askForm form {
        width: 300px;
        height: 500px;
    }
</style>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.min.js")" type="text/javascript"> </script>
<script type="text/javascript">

    $(function() {
        $('.text-box').each(function() {
            var name = getNameAttr($(this)) + '...';
            $(this).val(name);
        });
        $('.text-box').focusin(function() {
            var name = getNameAttr($(this));
            if ($.trim($(this).val()) == name + '...') {
                $(this).val('');
            }
        });
        $('.text-box').focusout(function() {
            var name = getNameAttr($(this));
            var value = $.trim($(this).val());
            if (value == '' || value == name + '...') {
                $(this).val(name + '...');
            }
        });
        $('#postAskForm').click(function() {
            $('.text-box').each(function() {
                var name = getNameAttr($(this));
                if ($.trim($(this).val()) == name + '...') {
                    $(this).val('');
                }
            });
        });
    });

    function getNameAttr(e) {
        return $(e).attr('name');
    }

    function showContactUsDialog() {
        $('#dialog').dialog({
            draggable: false,
            resizable: false,
            modal: true,
            buttons: {
                "Send": function () {
                    $(this).dialog('close');
                },
                "Cancel": function () {
                    $(this).dialog('close');
                }
            },
            open: function () {
                var accentColor = '#F5753A';
                var backgroundColor = '#353535';
                var backgroundAccentColor = '#4f4f4f';
                var fontColor = '#FFFFFF';
                var dialog = $('.ui-dialog');
                var titlebar = $('.ui-dialog-titlebar');
                var titlebarclose = $('.ui-dialog-titlebar-close');
                var titlebarcloseicon = $('.ui-dialog-titlebar-close .ui-icon-closethick');
                var buttonpane = $('.ui-dialog-buttonpane');
                var buttons = $('.ui-dialog-buttonpane button[type=button]');

                $(titlebar).css('background', backgroundAccentColor + ' none');
                $(titlebar).css('border', 'none');

                $(titlebarclose).removeClass('ui-corner-all');
                $(titlebarclose).css('border', 'none');
                $(titlebarclose).css('top', '0');
                $(titlebarclose).css('right', '0');
                $(titlebarclose).css('margin', '0');
                $(titlebarclose).css('padding', '0');
                $(titlebarclose).css('width', '30px');
                $(titlebarclose).css('height', '30px');
                $(titlebarclose).css('background-color', backgroundColor);
                $(titlebarclose).css('background-image', 'url("@Url.Content("~/Content/images/Close.png")")');
                $(titlebarclose).css('background-position', '4px 3px');
                $(titlebarclose).hover(
                        function () {
                            $(this).css('background-color', accentColor);
                            $(this).css('background-image', 'url("@Url.Content("~/Content/images/Close.png")")');
                        },
                        function () {
                            $(this).css('background-color', backgroundColor);
                            $(this).css('background-image', 'url("@Url.Content("~/Content/images/Close.png")")');
                        });

                $(titlebarcloseicon).css('background-image', 'none');

                $(dialog).removeClass('ui-corner-all');
                $(dialog).css('width', '100%');
                $(dialog).css('left', '0');
                $(dialog).css('margin', '0');
                $(dialog).css('padding', '0');
                $(dialog).css('background', backgroundAccentColor);
                $(dialog).css('color', fontColor);
                $(dialog).css('border', 'none');

                $(buttonpane).css('background', backgroundAccentColor);
                $(buttonpane).css('border', 'none');
                $(buttonpane).css('margin', '0 auto');
                $(buttonpane).css('max-width', '850px');

                $(buttons).removeClass('ui-corner-all');
                $(buttons).css('border', 'none');
                $(buttons).css('color', fontColor);
                $(buttons).css('min-width', '80px');
                $(buttons).css('background-image', 'none');
                $(buttons).css('background-color', backgroundColor);
                $(buttons).hover(
                        function () { $(this).css('background-color', accentColor); },
                        function () { $(this).css('background-color', backgroundColor); });
            }
        });
    }

    function bindDialog(e) {
        $(e).click(function() {
            showContactUsDialog();
        });
    }
</script>
<div id="dialog" class="content-wrapper" style="display: none;">
    <div id="askForm">
        <h2 style="color: white; font-size: 1.5em;">Contact us</h2>
        @*<form action="/" method="post">*@
        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true">
        </span>
        <input class="text-box single-line" data-val="true" data-val-required="The Name field is required." id="Name" name="Name" type="text" value="">
        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true">
        </span>
        <input class="text-box single-line" data-val="true" data-val-regex="Not valid email" data-val-regex-pattern="^(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6}$" data-val-required="The Email field is required." id="Email" name="Email" type="text" value="">
        <span class="field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true">
        </span>
        <textarea class="text-box" cols="20" data-val="true" data-val-required="The Message field is required." id="Message" name="Message" rows="2"></textarea>           
        @*<input type="submit" value="Send" id="postAskForm">*@
@*</form>*@
        @*@using (Html.BeginForm())
        {
            @Html.ValidationMessageFor(model => model.Name)
            @Html.EditorFor(model => model.Name)

            @Html.ValidationMessageFor(model => model.Email)
            @Html.EditorFor(model => model.Email)

            @Html.ValidationMessageFor(model => model.Message)
            @Html.TextAreaFor(model => model.Message, new {@class = "text-box"})
            <input type="submit" value="Send" id="postAskForm" />
        } *@
    </div>
</div>