<section id="accordian">
    <article class="accordian-item snowowl-accordian-tile">
        <div class="accordian-item-tile">
            <img src="@Url.Content("~/Content/images/roundbutton.plus.24x24.png")" alt="" />
        </div>
        <div class="accordian-item-content">
        </div>
    </article>
    <article class="accordian-item windows8-accordian-tile">
        <div class="accordian-item-tile">
            <img src="@Url.Content("~/Content/images/roundbutton.plus.24x24.png")" alt="" />
        </div>
        <div class="accordian-item-content">
        </div>
    </article>
    <article class="accordian-item web-accordian-tile">
        <div class="accordian-item-tile">
            <img src="@Url.Content("~/Content/images/roundbutton.plus.24x24.png")" alt="" />
        </div>
        <div class="accordian-item-content">
        </div>
    </article>
    <article class="accordian-item mobile-accordian-tile">
        <div class="accordian-item-tile">
            <img src="@Url.Content("~/Content/images/roundbutton.plus.24x24.png")" alt="" />
        </div>
        <div class="accordian-item-content">
        </div>
    </article>
     <article class="accordian-item mobile-accordian-tile">
        <div class="accordian-item-tile">
            <img src="@Url.Content("~/Content/images/roundbutton.plus.24x24.png")" alt="" />
        </div>
        <div class="accordian-item-content">
        </div>
    </article>
</section>
